<h1>Search!</h1>

<!-- <form action="/users/search" method="GET">
  <input
    type="text"
    name="query"
    value="<%#= @query %>">

  <input type="submit" value="Search Users!">
</form> -->

<nav class="users-search">
  <input class="user-input" type="text" name="user[username]">
  <ul class="users">
  </ul>
</nav>
